@charset "utf-8";

@font-face {
  font-family: 'SFUEurostileRegular';
  src:  url(SFUEurostileRegular.ttf);
}

@font-face {
  font-family: 'HelveticaNeue';
  src:  url(HelveticaNeueLight.ttf);
}

@font-face {
  font-family: 'HelveticaNeue';
  src:  url(HelveticaNeueThin.ttf);
  font-weight:100;
}

@font-face {
  font-family: 'HelveticaNeue';
  src:  url(HelveticaNeueBold.ttf);
  font-weight:bold;
}
*, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration:none; list-style:none;}

ol, ul { /*list-style: none;*/ }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/* remember to define focus styles!*/
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }

/* clear fix */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }

* html .clearfix { height: 1%; }

body {font-family: 'HelveticaNeue'; color:#222;}
.ct1k2{ max-width:1200px; width:98%; margin:0 auto;}
.icon{ display:inline-block; background-repeat:no-repeat; background-image:url(../images/icon_royalcash.png);}
h2{ font-size:36px; font-weight:normal;}

#container{}

#header{position:absolute; width:100%; top:0; left:0; padding:45px 0 0;}
#header .logo{ float:left;}
#header .logo img{}
#header .nav{ float:right;}
#header .nav .btnNav{}
#header .nav .btnNav span{}
#header .nav ul{}
#header .nav ul li{ display: inline-block; color:#fff; line-height:48px;}
#header .nav ul li a{font-family: 'SFUEurostileRegular'; color:#fff; text-transform:uppercase; font-size:16px; padding:0 15px; transition:all 0.2s; display:inline-block;}
#header .nav ul li a:hover{ color:#ffe400;}
#header .nav ul li a:active{ transition:none; transform:scale(0.96);}
#header .nav ul li a.active{ color:#ffe400;}

#content{ text-align:center;}
#content .tokensale{ background-image:url(../images/header_bg.jpg); background-repeat:no-repeat; background-size:100% auto; height:100vh; color:#fff;}
#content .tokensale .ct1k2{ padding:230px 0 0;}
#content .tokensale .intro{ font-size:26px; margin:0 0 30px;}
#content .tokensale .time{ max-width:640px; border-top:solid 1px rgba(255,255,255,0.1); border-bottom:solid 1px rgba(255,255,255,0.1); margin:0 auto 30px; height:110px;}
#content .tokensale .time .time_item{ display:inline-block; font-size:14px; color:#b58d93; padding:15px 15px 0;}
#content .tokensale .time .time_item span{ display:block; color:#ffe400; font-size:60px; font-weight:100; line-height:60px;}
#content .tokensale .date{ font-size:16px; margin:0 0 20px;}
#content .tokensale .buyBtn{ display:block; width:280px; background-color:#ffe400; height:50px; margin:0 auto 30px; font-size:20px; font-weight:bold; border-radius:3px; line-height:50px; cursor:pointer; color:#222; transition:all 0.2s;}
#content .tokensale .buyBtn:hover{background-color:#fff600;}
#content .tokensale .buyBtn:active{ transition:none; transform:scale(0.99);}
#content .tokensale .detail{ font-size:14px; line-height:24px; margin:0 0 65px;}
#content .tokensale .lang{ font-size:0;}
#content .tokensale .lang li{ display:inline-block; font-size:12px; opacity:0.3; padding:0 15px; cursor:pointer; transition:all 0.2s;}
#content .tokensale .lang li:hover{ opacity:0.6;}
#content .tokensale .lang li:active{ opacity:1; transition:none; transform:scale(0.95);}
#content .tokensale .lang li.active{ opacity:1;}
#content .tokensale .lang li .icon{ width:16px; height:12px; position:relative; top:2px;}
#content .tokensale .lang li .icon.kor{ background-position:-50px 0;}
#content .tokensale .lang li .icon.cn{ background-position:-100px 0;}
#content .tokensale .lang li .icon.pycc{ background-position:-150px 0;}

#content .pricetable{ background-color:#171717; color:#fff; padding:80px 0 100px;}
#content .pricetable p{ font-size:30px; margin:0 0 30px;}
#content .pricetable table{ width:100%;}
#content .pricetable table tr{}
#content .pricetable table tr td{ font-size:16px; font-weight:bold; height:45px; background-color:#2e2e2d; vertical-align:middle; border:solid 2px #171717; border-bottom:solid 3px #171717;}
#content .pricetable table tr td .load{ display:inline-block; width:180px; height:8px; border-radius:10px; background-color:#000; border:solid 3px #171717; overflow:hidden; margin:0 4px 0 0; position:relative; top:1px;}
#content .pricetable table tr td .load span{ display:block; width:68%; height:100%; background-color:#ffe400;}
#content .pricetable table tr.subtitle td{ color:#9c9c9c; font-size:14px; font-weight:normal; background:none; height:20px;}
#content .pricetable h2{ padding:50px 0 0; margin:0 0 15px;}
#content .pricetable .priceTab{ font-size:0;}
#content .pricetable .priceTab .hideBg{ height:50px; background-image:url(../images/hideBg.png); background-size:1px 100%; background-repeat:repeat-x; margin:-50px 0 0;}
#content .pricetable .priceTab li{ display:inline-block;}
#content .pricetable .priceTab li a{ display:block; background-color:#ffe400; font-weight:bold; text-transform:uppercase; font-size:12px; width:180px; height:40px; line-height:40px; text-align:center; color:#222; border-radius:3px; margin:20px 0 0;}
#content .pricetable .priceTab li a#btnViewless{ display:none;}
#content .pricetable .hideBox{ overflow:hidden; height:262px;}

#content .understanding{ padding:80px 0;}
#content .understanding h2{ margin:0 0 35px;}
#content .understanding .under_list{ font-size:0;}
#content .understanding .under_list .underItem{ display:inline-block; width:200px; padding:0 35px;}
#content .understanding .under_list .underItem .imgBox{ display:block; overflow:hidden; border-radius:100%; width:200px; height:200px; position:relative; margin:0 0 15px;}
#content .understanding .under_list .underItem .imgBox img{ display:block; width:100%; height:auto; transition:all 0.8s;}
#content .understanding .under_list .underItem:hover .imgBox img{ transform:scale(1.1);}
#content .understanding .under_list .underItem .imgBox span{ position:absolute; display:block; top:0; left:0; width:100%; height:100%; background-color:rgba(40,32,53,0.6); font-size:14px; color:#fff; text-transform:uppercase; padding:70px 0 0; transition:all 0.2s; transform:scale(0);}
#content .understanding .under_list .underItem:hover .imgBox span{transform:scale(1);}
#content .understanding .under_list .underItem .imgBox span .iconMore{ background-position:-150px -350px; width:60px; height:60px; margin:0 0 20px;}
#content .understanding .under_list .underItem h3{ font-size:18px;}
#content .understanding .under_list .underItem h3 a{ color:#222;}
#content .understanding .under_list .underItem:hover h3 a{ color:#d29400;}

#content .ourfeature{ background-color:#f5f5f5; padding:80px 0 50px;}
#content .ourfeature .imgLeft{ width:38%; float:left;}
#content .ourfeature .imgLeft img{ display:block; width:100%; height:auto;}
#content .ourfeature .feature{ text-align:left; padding:0 0 0 42%; font-size:18px;}
#content .ourfeature .feature h2{}
#content .ourfeature .feature p{ margin:0 0 35px;}
#content .ourfeature .feature .featureList{}
#content .ourfeature .feature .featureList .featureItem{ width:47%; float:left;}
#content .ourfeature .feature .featureList .featureItem:nth-child(even){ float:right;}
#content .ourfeature .feature .featureList .featureItem h3{ margin:0 0 10px;}
#content .ourfeature .feature .featureList .featureItem h3 .icon{ width:46px; height:33px; background-position:-50px -50px; margin:0 5px 0 0; position:relative; top:10px;}
#content .ourfeature .feature .featureList .featureItem h3 .icon.hotel{ background-position:0 -50px;}
#content .ourfeature .feature .featureList .featureItem h3 .icon.lending{ background-position:-100px -50px;}

#content .anotherLogo{ height:180px; background-image:url(../images/logo_bg.jpg);}
#content .anotherLogo ul{ font-size:0; padding:58px 0 0;}
#content .anotherLogo ul li{ display:inline-block; padding:0 15px;}
#content .anotherLogo ul li .icon{ height:63px; width:149px; background-position:0 -100px;}
#content .anotherLogo ul li .icon.logo2{ width:107px; background-position:-200px -100px;}
#content .anotherLogo ul li .icon.logo3{ width:125px; background-position:-350px -100px;}
#content .anotherLogo ul li .icon.logo4{ width:137px; background-position:0 -200px;}
#content .anotherLogo ul li .icon.logo5{ width:136px; background-position:-200px -200px;}
#content .anotherLogo ul li .icon.logo6{ width:134px; background-position:-350px -200px;}

#content .stream{ padding:80px 0;}
#content .stream .imgLeft{ width:38%; float:left;}
#content .stream .imgLeft img{ display:block; max-width:100%; height:auto; margin:0 auto;}
#content .stream .stream{ text-align:left; padding:0 0 0 42%; font-size:18px;}
#content .stream .stream h2{}
#content .stream .stream p{}
#content .stream .stream ul{ padding:60px 0 0;}
#content .stream .stream ul li{}
#content .stream .stream ul li a{ font-size:18px; font-weight:bold; color:#222; display:block; line-height:50px;}
#content .stream .stream ul li a .icon{ width:30px; height:30px; background-position:-50px -300px; position:relative; top:8px; margin:0 8px 0 0;}
#content .stream .stream ul li a.active{ color:#d29400;}
#content .stream .stream ul li a.active .icon{ background-position:0 -300px;}
#content .stream .stream ul li div{ display:none; padding:0 0 25px 38px;}
#content .stream .stream ul li:first-child div{ display:block;}
#content .stream .stream ul li div p{}

#content .ecosystem{ color:#fff; background-image:url(../images/eco_bg.jpg); background-repeat:no-repeat; background-size:100%; padding:80px 0;}
#content .ecosystem h2{ margin:0 0 50px;}
#content .ecosystem .ecoCloud{ margin:0 0 40px;}
#content .ecosystem p{ font-size:18px; margin:0 0 50px;}
#content .ecosystem .btnViewmore{ display:block; width:280px; background-color:#ffe400; height:50px; margin:0 auto 30px; font-size:20px; font-weight:bold; border-radius:3px; line-height:50px; cursor:pointer; color:#222; transition:all 0.2s;}
#content .ecosystem .btnViewmore:hover{background-color:#fff600;}
#content .ecosystem .btnViewmore:active{ transition:none; transform:scale(0.99);}

#content .roadmap{ padding:80px 0;}
#content .roadmap h2{ margin:0 0 35px;}
#content .roadmap .maps{ position:relative; padding:0 0 50px;}
#content .roadmap .maps .arrowLine{ width:3px; height:100%; position:absolute; left:50%; transform:translateX(-50%); background-color:#d29400;}
#content .roadmap .maps .arrowLine .arrow{ width:29px; height:31px; background-position:-50px -350px; position:absolute; bottom:-12px; left:-13px;}
#content .roadmap .maps .mapsList{}
#content .roadmap .maps .mapsList .mapsItem{ padding:0 50% 0 0; text-align:right;}
#content .roadmap .maps .mapsList .mapsItem .mapTag{ float:right; padding:10px 0 0;}
#content .roadmap .maps .mapsList .mapsItem .mapTag .dot{ display:block; width:9px; height:9px; border-radius:100%; background-color:#d29400; float:right; transform:translateX(50%); margin:0 0 0 1px; position:relative; top:7px;}
#content .roadmap .maps .mapsList .mapsItem .mapTag .icon{ width:24px; height:24px; background-position:0 -350px;}
#content .roadmap .maps .mapsList .mapsItem .details{ padding:0 50px 0 0; font-size:18px;}
#content .roadmap .maps .mapsList .mapsItem .details .time{ font-size:36px; color:#949494; margin:0;}
#content .roadmap .maps .mapsList .mapsItem .details h3{ color:#d29400; line-height:18px; margin:0 0 25px;}
#content .roadmap .maps .mapsList .mapsItem .details p{ margin:0 0 15px;}
#content .roadmap .maps .mapsList .mapsItem .details img{ height:50px; width:auto; margin:0 0 0 5px;}
#content .roadmap .maps .mapsList .mapsItem:nth-child(even){ padding:0 0 0 50%; text-align:left;}
#content .roadmap .maps .mapsList .mapsItem:nth-child(even) .mapTag{ float:left;}
#content .roadmap .maps .mapsList .mapsItem:nth-child(even) .mapTag .dot{ float:left; transform:translateX(-50%); margin:0 1px 0 0;}
#content .roadmap .maps .mapsList .mapsItem:nth-child(even) .details{ padding:0 0 0 50px;}
#content .roadmap .maps .mapsList .mapsItem:nth-child(even) .details img{ margin:0 5px 0 0;}
#content .lendingProgram{ padding:80px 0; background-image:url(../images/lending_bg.jpg); background-repeat:no-repeat; background-size:100% auto; color:#fff;}
#content .lendingProgram h2{ margin:0 0 10px;}
#content .lendingProgram .description{ font-size:18px; margin:0 0 40px;}
#content .lendingProgram .lendingList{ font-size:0;}
#content .lendingProgram .lendingList .lendingItem{ display:inline-block; background-color:#fff; width:200px; color:#222; margin:0 15px; padding:35px 0 0;}
#content .lendingProgram .lendingList .lendingItem .dolar{ font-size:24px; margin:0 0 30px;}
#content .lendingProgram .lendingList .lendingItem .profit{ font-size:14px; margin:0 0 30px;}
#content .lendingProgram .lendingList .lendingItem .profit span{ font-size:30px; display:block;}
#content .lendingProgram .lendingList .lendingItem .days{ font-size:18px; font-weight:bold; border:dashed 1px #ccc; width:140px; height:40px; line-height:40px; margin:0 auto 28px;}
#content .lendingProgram .lendingList .lendingItem .btnLend{ display:block; height:40px; background-color:#646464; line-height:40px; font-size:16px; text-transform:uppercase; color:#fff; transition:all 0.2s;}
#content .lendingProgram .lendingList .lendingItem .btnLend:hover{ background-color:#d29400;}

#content .news{ padding:80px 0;}
#content .news h2{ margin:0 0 30px;}
#content .news .newsList{ text-align:left;}
#content .news .newsList .newsItem{ float:left; width:31.6%; margin:0 0 0 2.6%;}
#content .news .newsList .newsItem:first-child{ margin:0;}
#content .news .newsList .newsItem .imgBox{ display:block; margin:0 0 20px;}
#content .news .newsList .newsItem .imgBox img{ display:block; width:100%; height:auto;}
#content .news .newsList .newsItem h3{ margin:0 0 10px;}
#content .news .newsList .newsItem h3 a{ font-size:24px; color:#222; display:block; transition:all 0.2s;}
#content .news .newsList .newsItem h3 a:hover{ color:#d29400;}
#content .news .newsList .newsItem p{ font-size:18px;}

#footer{ text-align:center; color:#fff;}
#footer .sub{ padding:80px 0; background-image:url(../images/subscriber_bg.jpg); background-repeat:no-repeat; background-size:100% auto;}
#footer .sub h2{ margin:0 0 10px;}
#footer .sub p{ font-size:18px; margin:0 0 40px;}
#footer .sub .subForm{ max-width:538px; margin:0 auto; height:50px;}
#footer .sub .subForm input{ float:left; width:65%; height:50px; background-color:#fff;font-family: 'HelveticaNeue'; font-size:18px; text-indent:30px;}
#footer .sub .subForm .btnSub{ width:33.5%; float:right;font-family: 'HelveticaNeue'; background-color:#ffe400; height:50px; display:block; text-align:center; line-height:50px; font-size:18px; font-weight:bold; color:#222; transition:all 0.2s; cursor:pointer;}
#footer .sub .subForm .btnSub:hover{background-color:#fff600;}
#footer .sub .subForm .btnSub:active{ transition:none; transform:scale(0.99);}
#footer .contact{ padding:80px 0; background-image:url(../images/contact_bg.jpg);}
#footer .contact h2{ margin:0 0 10px;}
#footer .contact p{ font-size:18px; margin:0 0 40px;}
#footer .contact .contactForm{ max-width:790px; margin:0 auto 15px;}
#footer .contact .contactForm .left{ width:48%; float:left;}
#footer .contact .contactForm .left.right{ float:right;}
#footer .contact .contactForm .left input{ height:50px; background-color:#fff;font-family: 'HelveticaNeue'; font-size:18px; text-indent:30px; display:block; border-radius:5px; margin:0 0 15px; width:100%;}
#footer .contact .contactForm .left .selectBox{ height:50px; background-color:#fff; border-radius:5px; margin:0 0 15px; overflow:hidden; position:relative;}
#footer .contact .contactForm .left .selectBox select{font-family: 'HelveticaNeue'; font-size:18px; text-indent:30px; height:50px; width:120%; position:relative; z-index:1;}
#footer .contact .contactForm .left .selectBox .arrowSl{ width:12px; height:13px; background-position:-100px -350px; position:absolute; top:19px; right:24px;}
#footer .contact .contactForm .left textarea{ height:95px; background-color:#fff;font-family: 'HelveticaNeue'; font-size:18px;  display:block; border-radius:5px; width:calc(100% - 60px); padding:10px 30px; resize:none; margin:0 0 30px;}
#footer .contact .contactForm .capcha{ margin:0 0 15px;}
#footer .contact .contactForm .capcha img{ display:block; margin:0 auto;}
#footer .contact .contactForm .btnSend{ display:block; width:280px; background-color:#ffe400; height:60px; margin:0 auto; font-size:20px; font-weight:bold; border-radius:3px; line-height:60px; cursor:pointer; color:#222; transition:all 0.2s;}
#footer .contact .contactForm .btnSend:hover{background-color:#fff600;}
#footer .contact .contactForm .btnSend:active{ transition:none; transform:scale(0.99);}
#footer .support{ padding:25px 0 20px; background-color:#000; text-align:left;}
#footer .support h2{ font-size:18px; font-weight:bold;}
#footer .support .email{ margin:0 0 35px;}
#footer .support .email a{ color:#585858; transition:all 0.2s;}
#footer .support .email a:hover{ color:#999;}
#footer .support .copyright{ color:#585858; border-top:solid 1px #0d0d0d; padding:10px 0 0;}
#footer .support .copyright p{ float:left; font-size:14px;}
#footer .support .copyright p b{}
#footer .support .copyright ul{ float:right; font-size:0;}
#footer .support .copyright ul li{ display:inline-block;}
#footer .support .copyright ul li a{ color:#585858; font-size:14px; padding:0 10px; transition:all 0.2s;}
#footer .support .copyright ul li a:hover{ color:#999;}