p{font-weight: 500}
#ef1{
	
	  background-repeat: no-repeat;
    -webkit-background-size: cover;
    border: 1px solid red
	 -webkit-background-size: cover;
	 
	  position: absolute;
}
.contain1{
	margin-top: 50px;
	margin-bottom: 10px;
}
.logo1{
	margin-left: 100px;
	width: 45%;
	margin-bottom: 10px;
}
.form-login{
	background-color: #FFF;
	-webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
	-moz-box-shadow:    0px 10px 20px 0px rgba(50, 50, 50, 0.52);
	box-shadow:         0px 10px 20px 0px rgba(50, 50, 50, 0.52)
	
}
.input1{
	height: 50px;
	text-align: center;
	color: black;
	height: 40px;

}

.cb{
	margin:25px;
	padding-left: 20%;
}
.button{
	height: 50px;
	background-color: #ffe400;
	width: 96%;
	font-weight: 600;
	margin:2%;
}
.textsignin{
		
	text-align: center;
	font-size:20px;
	font-weight: 800;
	margin-top: 50px;
	margin-bottom: 20px;
}
.reCaptcha{
	margin-top: 20px;
	padding-left:0px;

}
.footer1{
	margin:20px;
	padding-left: 50px;
}
.containmodal{
	width: 50%;
	color: black;
	font-weight: 300;
	margin-top: 100px;
}
.registertext{
	height: 80px;
	padding-bottom: 20px;
	font-size: 25px;
	text-align: center;
	
}
.mdcontent{
	border-radius: 0px;
}
.inputgroup{
	margin-bottom: 5px;
}
.inputregister{
	height: 40px;
}
.inputregister::placeholder{
	color: black;

}
.select{
	margin-bottom: 15px;
}
.note{
	font-size: 11px;
	margin-bottom: 15px;
}
.longnote{
	text-align: left;
	font-size: 13px;
	margin: 15px;
}
.isnote{
	float: left;
}
.registerCapcha{
	margin:auto;

}
.btnregister{
	width: 42%;
	height: 50px;
	background-color: #ffe400;
	font-weight: 700;
	margin-bottom: 30px;
	margin-left: 28%;
}
@media (max-width: 767px) {
	.containmodal{
	width: 90%;
	margin-left: 5%;
	}
	.registerCapcha{
	margin-left: 10px;

	}
	.registertext{
		font-size: 20px;
	}

}
@media (min-width: 768px) {
	.registerCapcha{
	margin-left: 0px;


}
}
@media (min-width: 992px) {
	.registerCapcha{
	width: 50%;
	margin-left: 25%

}
}
@media (max-width: 400px) {
	.registerCapcha{
		margin-left: -20px;
	}

}
