@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 935px) {

}

@media screen and (max-width: 880px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 780px) {

}

@media screen and (max-width: 768px) {
    .navbar-toggle:hover, .navbar-toggle:focus {
        background-color: #ddd;
    }

    .navbar-toggle {
        background-color: #ddd;
    }

    .navbar-toggle {
        border-color: #ddd;
    }

    .navbar-toggle .icon-bar {
        background-color: #888;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }

    #content .lendingProgram {
        padding: 80px 0;
        background: url(../images/lending_bg.jpg) no-repeat;
        background-size: cover;
        color: #fff;
    }
}

@media screen and (max-width: 740px) {

}

@media screen and (max-width: 720px) {

}

@media screen and (max-width: 640px) {

}

@media only screen and (max-width: 620px) {
    .navbar-toggle:hover, .navbar-toggle:focus {
        background-color: #ddd;
    }

    .navbar-toggle {
        background-color: #ddd;
    }

    .navbar-toggle {
        border-color: #ddd;
    }

    .navbar-toggle .icon-bar {
        background-color: #888;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 568px) {

}

@media screen and (max-width: 563px) {
}

@media screen and (max-width: 549px) {
    .navbar-toggle:hover, .navbar-toggle:focus {
        background-color: #ddd;
    }

    .navbar-toggle {
        background-color: #ddd;
    }

    .navbar-toggle {
        border-color: #ddd;
    }

    .navbar-toggle .icon-bar {
        background-color: #888;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }
}

@media screen and (max-width: 534px) {
    .navbar-toggle:hover, .navbar-toggle:focus {
        background-color: #ddd;
    }

    .navbar-toggle {
        background-color: #ddd;
    }

    .navbar-toggle {
        border-color: #ddd;
    }

    .navbar-toggle .icon-bar {
        background-color: #888;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }
}

@media screen and (max-width: 480px) {
    .nav > li {
        position: relative;
        display: block;
        width: 100%;
        background-color: #232062;
    }

    .navbar-toggle:hover, .navbar-toggle:focus {
        background-color: #ddd;
    }

    .navbar-toggle {
        background-color: #ddd;
    }

    .navbar-toggle {
        border-color: #ddd;
    }

    .navbar-toggle .icon-bar {
        background-color: #888;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }

    #content .tokensale .time .time_item span {
        display: block;
        color: #ffe400;
        font-size: 50px;
        font-weight: 100;
        line-height: 60px;
    }

    #content .anotherLogo {
        height: 100%;
        background-image: url(../images/logo_bg.jpg);
    }

    /*#content .pricetable table {*/
    /*width: 100%;*/
    /*min-width: 480px;*/
    /*overflow: scroll;*/
    /*}*/
    #content .pricetable .hideBox {
        overflow: hidden;
        overflow-x: scroll;
        height: 262px;
    }

    #content .pricetable .hideBox {
        overflow: hidden;
        overflow-x: scroll;
        height: 262px;
    }

    #content .lendingProgram {
        padding: 80px 0;
        background: url(../images/lending_bg.jpg) no-repeat;
        background-size: cover;
        color: #fff;
    }

    .copyright {
        text-align: center;
    }

    #footer .support h2 {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    #footer .support .email {
        margin: 0 0 35px;
        text-align: center;
    }

    #footer .sub .subForm input {
        float: none;
        width: 90%;
        height: 50px;
        background-color: #fff;
        font-family: 'HelveticaNeue';
        font-size: 18px;
        text-indent: 30px;
        color: black;
        margin: 20px;
        padding: 10px;
    }

    #footer .sub .subForm .btnSub {
        width: 33.5%;
        font-family: 'HelveticaNeue';
        background-color: #ffe400;
        height: 50px;
        display: block;
        text-align: center;
        line-height: 50px;
        font-size: 18px;
        font-weight: bold;
        color: #222;
        transition: all 0.2s;
        cursor: pointer;
        float: none;
        margin: 0 auto;
    }
    #footer .sub {
        padding: 104px 0;
        background-image: url(../images/subscriber_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #footer .contact .contactForm .left {
        width: 85%;
        float: none;
        margin: 0 auto;
    }
    #footer .contact .contactForm .left.right {
        float: none;
    }
}

@media screen and (max-width: 360px) {

}

@media screen and (max-width: 338px) {
    #content .tokensale .time .time_item span {
        display: block;
        color: #ffe400;
        font-size: 25px;
        font-weight: 100;
        line-height: 60px;
    }
}

@media screen and (max-width: 330px) {
    #content .tokensale .time .time_item span {
        display: block;
        color: #ffe400;
        font-size: 25px;
        font-weight: 100;
        line-height: 60px;
    }
}

@media screen and (max-width: 320px) {
    #content .anotherLogo {
        height: 100%;
        background-image: url(../images/logo_bg.jpg);
    }
    #content .tokensale .time .time_item span {
        display: block;
        color: #ffe400;
        font-size: 16px;
        font-weight: 100;
        line-height: 60px;
    }
}